model: openrouter:claude-opus-4-6
top_p: 0.95

clients:
  - type: openai-compatible
    name: openrouter
    api_base: https://openrouter.ai/api/v1

stream: true
save: false
keybindings: vi
save_session: true
compress_threshold: 0
