{
  systemd.services.mihomo-sub.environment = {
    SUBSCRIPTION = "url path;url path";
  };
  environment.sessionVariables = {
    OPENROUTER_BASE_URL = "";
    OPENROUTER_API_KEY = "";
    ANTHROPIC_BASE_URL = "";
    ANTHROPIC_API_KEY = "";
  };
}
